# global
ENV='stage'
PORT=3001

# database
DB_HOST=localhost
DB_PORT=5432
DB_USER=ageev
DB_PASS=qweQWE123!
DB_NAME=interbook

# secrets
JWT_ACCESS=qweQWE123!
JWT_REFRESH=QWEqwe123!
SPACES_SECRET=helloFromTheOtherSide!

# redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81